@import url('https://fonts.googleapis.com/css?family=Macondo|Abel');
#content {
    max-width: 1600px;
    margin: 0 auto;
    color: black;
}
a {
    text-decoration: underline dotted;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
body {
    background-color: white;
    font-family: Abel, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: Macondo, Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: Abel, Helvetica, sans-serif;
    
}
header {
    background-color: #018839;
    font-family: Macondo, Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #6CDC2D;
    color: #018839;
}
    #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    color: #6CDC2D;
    text-decoration: none;
    width: 120px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-msg p {
    text-align: center;
    color: white;
}
#hero-img {
    width: 100%;
    height: 900px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #6E6F83;
    opacity: 70%;
    padding: 10px;
}
#six-things {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#six-things h2 {
    color: #018839;
    text-align: center;
    grid-column: 2/3;
}
#first-thing {
    background-color: #6CDC2D;
    padding: 40px;
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#first-thing h2 {
    grid-column: 1/2;
    font-size: 40px;
     color: black;
}
#first-thing h3 {
    grid-column: 2/3;
    font-size: 30px;
}
#first-thing p {
    margin-top: -20px;
    grid-column: 1/3;
}
#second-thing {
    background-color: #018839;
    padding: 40px;
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#second-thing h2 {
    grid-column: 1/2;
    font-size: 40px;
    color: black;
}
#second-thing h3 {
    grid-column: 2/3;
    font-size: 30px;
}
#second-thing p {
    grid-column: 1/3;
    margin-top: -20px;
}
#third-thing {
    background-color: #6E6F83;
    padding: 40px;
    grid-column: 1/4;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#third-thing h2 {
    grid-column: 1/2;
    font-size: 40px;
    color: black;
}
#third-thing h3 {
    grid-column: 2/3;
    font-size: 30px;
}
#third-thing p {
    grid-column: 1/3;
    margin-top: -20px;
}
#fourth-thing {
    background-color: #92EAFF;
    padding: 40px;
    grid-column: 1/4;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#fourth-thing h2 {
    grid-column: 1/2;
    font-size: 40px;
    color: black;
}
#fourth-thing h3 {
    grid-column: 2/3;
    font-size: 30px;
}
#fourth-thing p {
    grid-column: 1/3;
    margin-top: -20px;
}
#fifth-thing {
    padding: 40px;
    grid-column: 1/4;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#fifth-thing h2 {
    color: #018839;
    grid-column: 1/2;
    font-size: 40px;
}
#fifth-thing h3 {
    color: #018839;
    grid-column: 2/3;
    font-size: 30px;
}
#fifth-thing p {
    grid-column: 1/3;
    margin-top: -20px;
}
#sixth-thing {
    background-color: #6CDC2D;
    padding: 40px;
    grid-column: 1/4;
    grid-row: 7/8;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#sixth-thing h2 {
    grid-column: 1/2;
    font-size: 40px;
    color: black;
}
#sixth-thing h3 {
    grid-column: 2/3;
    font-size: 30px;
}
#sixth-thing p {
    grid-column: 1/3;
    margin-top: -20px;
}
#link-imgs {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#worldlore-link {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(18, 50px);
}
.world-lore-image {
    height: 900px;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/19;
    z-index: -1;
}
#character-creator-link {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 100px);
}
.character-creator-image {
    height: 900px;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/10;
    z-index: -1;
}
#worldlore-link-button {
    background-color: #018839;
    color: white;
    display: flex;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 13/15;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#character-creator-link-button {
    background-color: #018839;
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 7/8;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #6E6F83;
    color: white;
    padding: 25px 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
footer a {
    color: #6CDC2D;
    text-decoration: none;
}
footer a:hover {
    color: #92EAFF;
}
footer p {
    font-size: 1.2em;
}
#copyright {
    font-size: 14px;
    grid-column: 4/5;
}
#creation-intro {
    background-color: #6CDC2D;
    padding: 40px;
}
#creation-intro h2 {
    text-align: center;
}
#character-sheet {
    padding: 40px;
}
#character-sheet h2 {
    text-align: right;
}
#race {
    padding: 40px;
    background-color: #018839;
    color: white;
}
#race-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 390px 390px 390px;
    justify-items: center;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    border: 1px solid #6CDC2D;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: #6E6F83;
    color: #6CDC2D;
    transform: rotateY(180deg);
    padding: 10px;
}
.flip-card-front img {
    width: 300px;
}
.flip-card-back h3 {
    font-size: 18px;
}
#aarakocra {
    grid-column: 1/2;
    grid-row: 3/4;
}
#aasimar {
    grid-column: 2/3;
    grid-row: 3/4;
}
#dragonborn {
    grid-column: 3/4;
    grid-row: 3/4;
}
#dwarf {
    grid-column: 1/2;
    grid-row: 4/5;
}
#elf {
    grid-column: 2/3;
    grid-row: 4/5;
}
#gnome {
    grid-column: 3/4;
    grid-row: 4/5;
}
#halfling {
    grid-column: 1/2;
    grid-row: 5/6;
}
#human {
    grid-column: 2/3;
    grid-row: 5/6;
}
#tiefling {
    grid-column: 3/4;
    grid-row: 5/6;
}
/*.race-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.race-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.race-tabs button:hover {
    background-color: #ddd;
}
.race-tabs button.active {
    background-color: #ccc;
}
.tabcontent {
    display: grid;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color: black;
    background-color: #f1f1f1;
    grid-template-columns: 1fr 1fr 2fr;
}
.tabcontent .tabintabcontent {
    text-align: left;
    grid-column: 1/3;
    grid-row-start: 2;
}
.tabcontent img {
    grid-column: 3/4;
    grid-row: 1/5;
}
.tabcontent h2 {
    grid-column: 1/2;
    text-align: center;
}
#overview h3 {
    grid-column: 1/3;
}
#overview h4 {
    grid-column: 1/3;
}
.race-info {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.race-info button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    transition: 0.3s;
}
.race-info button:hover {
    background-color: #ddd;
}
.race-info button.active {
    background-color: #ccc;
}
.tabintabcontent {
    display: grid;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    grid-template-columns: 1fr 1fr;
}
.tabintabcontent h3 {
    grid-column: 1/2;
}
.tabintabcontent p {
    grid-column: 2/3;
}
.tabintabcontent h4 {
    grid-column: 1/3;
}*/
#class {
    padding: 40px;
    background-color: #6E6F83;
}
#class-header {
    text-align: right;
}
.class-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button.active {
    background-color: #018839;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #ccc;
}
#barbarian, #bard, #cleric, #druid, #fighter, #fighter, #monk, #paladin, #ranger, #rogue, #sorcerer, #warlock, #wizard {
    text-align: left;
}
#ability-scores {
    padding: 40px;
    background-color: #92EAFF;
}
#score-modifiers {
    padding: 40px;
    background-color: #6CDC2D;
}
#score-modifiers h2 {
    text-align: right;
}
table {
    margin-left: auto;
    margin-right: auto;
}
#ability-table {
    text-align: left;
}
th {
    padding: 0 25px;
}
tr:hover {
    background-color: #018839;
    color: white;
}
#modifier-table {
    text-align: center;
}
#char-description {
    padding: 40px;
}
#equipment {
    background-color: #018839;
    color: white;
    padding: 40px;
}
#equipment h2 {
    text-align: right;
}
#religion-box {
    color: white;
    background-color: #018839;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 40px;
}
#religion-box h2 {
    grid-column: 1/2;
    grid-row: 1/2
}
#religion-box p {
    grid-column: 1/2;
    grid-row: 4/5;
}
#religion-box h3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    margin-top: -20px;
}
#religion-box p:first-of-type {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -20px;
}
#religion-box img {
    grid-column: 2/3;
    grid-row: 1/5;
    padding: 20px;
}

#gods-header {
    color: #018839;
    padding-left: 40px;
    padding-top: 40px;
}
#hall-of-seven-box .tabcontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#hall-of-seven-box .tabcontent h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
#hall-of-seven-box .tabcontent h3 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
#hall-of-seven-box .tabcontent p {
    grid-column: 1/2;
    padding-left: 40px;
}
#hall-of-seven-box .tabcontent img {
    grid-column: 2/3;
    grid-row: 1/6
}
#magic-box {
    background-color: #6CDC2D;
    padding: 40px;
}
#differences-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#lowfolk {
    background-color: #6E6F83;
    padding: 40px;
}
#lowfolk h2 {
    text-align: center;
}
#highfolk h2 {
    text-align: center;
}
#highfolk {
    background-color: #92EAFF;
    padding: 40px;
}


@media screen and (max-width: 900px) {
    header, nav, main, footer {
        display: block;
    }
    #hero-msg {
        width: 100%;
        
    }
}